.contact-list {
  .contact-list_item {
    .image img {
      width: 100%;
    }

    .info {
      .name {
        font-size: 1.25rem;
      }
      .email {
        font-size: 0.8rem;
      }
    }
  }
}
